@import '../../scss/colors.scss';
@import '../../scss/breakpoints.scss';

.header {
  background-color: $purple;
  padding: 1rem;
  text-align: center;

  &__title {
    color: $white;
    span {
      color: $green;
    }
  }
  &__search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include from (tablet) {
      flex-direction: row;
    }

    &-input-search {
      padding: 0.5rem;
    }
  }
}
