@import '../../scss/colors';
@import '../../scss/breakpoints';

.card-user {
  background-color: $purpleLight;
  display: flex;
  justify-content: center;
  padding: 1rem;

  

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include from (tablet) {
      flex-direction: row;
      margin: 0 auto;
    }

  

    &-image, &-description {
      background-color: $purple;
      padding: 1rem;
    }
  
    &-image {
      display: flex;
      flex-direction: column;
      text-align: center;
      text-transform: capitalize;

      img {
        width: 200px;
        align-self: center;
      }
    }
    &-description {
      
      
    }
  }
}
